/* add css*/


/*branch id select*/

form#userForm #branch_id-error {
    position: absolute;
    top: auto;
    bottom: -20px;
    left: 15px;
}

.navbar #profile-dropdown li a i {
    margin-right: 5px;
    width: 20px;
    font-size: 20px;
}

.dropdown-content li>a,
.dropdown-content li>span {
    padding: 14px 10px;
    font-size: 13px;
}